Django==6.0.5
gunicorn==25.3.0
pillow==12.2.0
psycopg2-binary==2.9.12
uvicorn==0.46.0
whitenoise==6.12.0
pylint-django==2.7.0
requests==2.34.2
pytest==9.0.3
pytest-cov==7.1.0
Sphinx==9.1.0
sphinx-rtd-theme==3.0.2