{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>МШП Ответы</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<nav class="navbar">
  <div class="nav-container">
    <a class="navbar-brand" href="/">MSHP Answers</a>
    <ul class="nav-menu">
      {% for item in menu %}
        <li class="nav-item">
          <a class="nav-link" href="{{ item.1 }}">{{ item.0 }}</a>
        </li>
      {% endfor %}
      {% if user.is_authenticated %}
        <li>
          <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Выйти</button>
          </form>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>

{% block content %}{% endblock %}
</body>
</html>
